.ur-mom {
  grid-row: 2;
}

.resources {
  grid-row: 2/4;
  display: grid;
  grid-template-rows: auto auto;
  background-color: #002060;
}

.resource-header {
  grid-row: 1;
  z-index: 6;
  background-color: #002060;
  overflow: hidden;
  padding: 35px;
  align-items: center;
  color: white;
}

iframe {
  width: 100%;
  height: 100%;
}

.krang {
  grid-row: 2;
  z-index: 5;
  position: absolute;
  bottom: 0;
  border: solid lightgray 1px;
  height: 70%;
  width: 100%;
  overflow: hidden;
}

@media screen and (min-height: 813px) {
  .krang {
    height: 80%;
  }
}
